/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml
/META-INF

# Repository wide ignore mac DS_Store files
.DS_Store

# Original jbpm ignores
bin/
*~
*.tlog

# Test info
/settings*.xml
/lib-jdbc/
